.App {
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.books {
  display: flex;
}

.book {
  flex: 1;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.758);
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.add-btn {
  background-color: rgb(7, 255, 7);
  color: rgba(0, 0, 0, 0.878);
  border-radius: 10px;
  padding: 2px 10px;
  cursor: pointer;
}

.form {
  gap: 10px 20px;
}
